.cart-header {
  text-align: center;
}

.cartContainer {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.cartContainer .sidebar {
  width: 20rem;
}

.cartContainer .only-text {
  width: 100%;
}

.cartContainer .cart-text {
  display: flex;
  justify-content: space-between;
}

.sub-container {
  align-items: flex-start;
  margin: 0;
  width: auto;
  flex: 0 1 auto;
}

.cartContainer .sub-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: flex-start;
  align-self: flex-start;
}

.cartContainer .disable {
  opacity: 50%;
}

.card {
  max-width: none;
}

.cartContainer .card {
  background-color: var(--white-section);
  height: 20rem;
}

.cartContainer .btn {
  border-radius: 10px;
  background-color: var(--primary-color);
  width: 90%;
  color: var(--white-section);
  padding: 0.2rem;
}

.cartContainer .horizontal {
  width: 28rem;
  height: 12rem;
}

.cartContainer .horizontal .header {
  width: 60%;
  padding: 0 0.5rem;
}

.cartContainer .icon {
  font-size: small;
}

.cartContainer .horizontal .img {
  width: 40%;
  object-fit: cover;
  border-radius: 1rem 0 0 1rem;
}

.cartContainer .header .text {
  padding: 0;
  margin: 0;
}

.cartContainer .card-quantity {
  margin-top: 1rem;
  display: flex;
}

.cartContainer .card-quantity .btn {
  width: 90%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.cartContainer .card-btn {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.cartContainer .wishlist-btn,
.cartContainer .cart-btn {
  border: 1px solid var(--primary-color);
  background-color: var(--white-section);
  border-radius: 10px;
  cursor: pointer;
}

.cartContainer .wishlist-btn {
  background-color: var(--primary-color);
}

.cartContainer .wishlist-btn .icon {
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--white-section);
}

.cartContainer .cart-btn .icon {
  color: var(--primary-color);
}

.cartContainer .icon .favourite {
  color: var(--primary-color);
  text-decoration: none;
}

.cartContainer .icon-quantity {
  padding: 0 1rem;
  text-align: center;
  margin: 0 0.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  font-size: 1rem;
}

.cartContainer .icon-button {
  padding: 0 0.5rem;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-section);
  border: none;
  border-radius: 50%;
  font-size: 1.2rem;
  margin: 0 0.5rem;
}

.cart-empty {
  margin-top: 5rem;
}

.cart-empty > h2,
.cart-empty > p {
  display: flex;
  justify-content: center;
}
