.cartContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin: auto;
    min-height: 100vh;
}

.cartContainer .sidebar{
    width: 20rem;
}

.cartContainer .only-text{
    width: 100%;
}

.cartContainer .cart-text{
    display: flex;
    justify-content: space-between;
}

.sub-container{
    align-items: flex-start;
    margin: 0;
}

.cartContainer .sub-container{
    justify-content: space-evenly;
    align-self: flex-start;
    flex-wrap: wrap;
    width: auto;
}

.card{
    max-width: none;
}

.cartContainer .card{
    background-color: var(--white-section);
    height: 20rem;
}

.cartContainer .margin-top-0_5{
    margin-top: .5rem;
}

.cartContainer .horizontal{
    width: 25rem;
    height: 12rem;
}

.cartContainer .horizontal .header{
    width: 50%;
}

.cartContainer .horizontal .img{
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
}

.cartContainer .header .text{
    padding: 0;
    margin: 0;
}

.cartContainer .card-footer{
    margin: .2rem 0;
}

.cartContainer .card-footer .btn{
    width: 90%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.2rem;
    border-radius: 0.5rem;
}

.cartContainer .icon{
    width: 100%;
    text-align: center;
    border: 1px solid var(--primary-color);
    padding: 0.2rem;
    border-radius: 0.5rem;
} 

.cartContainer .icon .favourite{
    color: var(--primary-color);
    text-decoration: none;
}

.cartContainer .icon-quantity{
    width: 60%;
    text-align: center;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    font-size: 1rem;
}

.cartContainer .icon-button{
    padding:0 0.5rem;
    cursor: pointer;
}

.cart-empty{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 15rem;
    min-height: 100vh;
}