.main-footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.footer-link .header{
  text-align: center;
}

.main-footer .footer-link .header,
.main-footer .stacked-list .list-item .link {
  color: var(--secondary-color);
}

.main-footer .stacked-list {
  background-color: var(--primary-color);
}

.main-footer .retina {
  display: flex;
  margin: 2rem;
  width: 20rem;
}

.main-footer .retina .img-size {
  object-fit: cover;
  margin: 0;
  width: 3rem;
  height: 3rem;
}

.main-footer .retina .text {
  font-size: 1rem;
  color: var(--secondary-color);
}

.stacked-list {
  border: none;
  background-color: white;
  width: auto;
}

.stacked-list .list-item {
  border-bottom: none;
  display: block;
  padding: 0.2rem;
  font-size: 1rem;
  text-align: left;
}

.list-item a {
  text-decoration: none;
}
