.productContainer {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.productContainer .drawer {
  width: 15rem;
  padding: 1rem;
  height: 38rem;
  overflow-y: auto;
  overflow-x: hidden;
  position: sticky;
  top: 6rem;
}

.drawer-modal {
  display: none;
}

.productContainer .drawer .filter {
  display: flex;
  justify-content: space-between;
}

.filter .clear-filter {
  cursor: pointer;
  color: var(--default);
  background-color: var(--white-section);
  border: none;
  margin-top: 0.3rem;
  font-size: 1rem;
}

.productContainer .drawer .heading {
  margin: 0.5rem;
  text-align: left;
}

.productContainer .main-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.productContainer .card {
  background-color: var(--white-section);
  padding: 0;
  width: 15rem;
  height: 18rem;
  position: relative;
}
.productContainer .card-text {
  padding: 0 1rem;
}

.productContainer .img {
  object-fit: cover;
  height: 60%;
  border-radius: 1rem 1rem 0 0;
}

.productContainer .wishlist-button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background-color: var(--white-section);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.productContainer .wishlist-button .material-icons-outlined {
  padding: 5px;
  color: var(--badge-dnd);
}

.productContainer .rating {
  position: absolute;
  right: 0;
  top: 10rem;
}

.productContainer .fa-star {
  margin-left: 2px;
}

.list-item {
  color: var(--default);
}

.productContainer .card-footer {
  background-color: 1px solid var(--default);
}

.productContainer .card-footer {
  margin: 0.2rem 0;
}

.productContainer .card-footer .btn {
  width: 90%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.productContainer .card-footer .icon {
  width: 100%;
  text-align: center;
  color: var(--white-section);
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.productContainer .icon .favourite {
  color: var(--primary-color);
  text-decoration: none;
}

.productContainer .product-empty {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.productContainer .go-to-cart {
  text-decoration: none;
  color: var(--primary-color);
}

.productContainer .active {
  background-color: var(--white-section);
  border: 1px solid var(--primary-color);
}

.productContainer .inactive {
  background-color: var(--primary-color);
}

.mobile-sort,
.mobile-filter {
  background-color: var(--white-section);
  z-index: 5;
  width: 100vw;
  position: fixed;
  bottom: 4rem;
}

.mobile-filter .filter {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.mobile-filter .filter > h2,
.mobile-filter .filter > a {
  margin: 0 1rem;
}

.mobile-filter .filter > a {
  margin-top: 0.2rem;
}

.mobile-filter .heading,
.mobile-sort .heading {
  text-align: left;
  margin: 1rem;
  font-size: 1.5rem;
  text-decoration: underline;
}
