.wishlistContainer{
    min-height: 100vh;
}

.wishlistContainer .sub-container{
    display: flex;
    justify-content: space-evenly;
}

.wishlistContainer .fa-shopping-cart{
    padding: 0 0.5rem;
}

.wishlistContainer .sub-container{
    align-self: flex-start;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.wishlistContainer .go-to-cart{
    text-decoration: none;
    color: var(--primary-color);
}

.wishlistContainer .card{
    padding: 0;
    margin: 1rem;
    background-color: var(--white-section);
    height: 22rem;
}

.wishlistContainer .horizontal .img{
    width: 100%;
    height: 55%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.wishlistContainer .header .text{
    padding: 0;
    margin: 0;
}

.wishlistContainer .card-footer{
    margin: .2rem 0;
    padding-left: 0;
    padding-right: 0;
}

.wishlistContainer .card-footer .btn{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.2rem;
    border-radius: 0.5rem;
}

.wishlistContainer .icon{
    width: 100%;
    text-align: center;
    border: 1px solid var(--primary-color);
    padding: 0.2rem;
    border-radius: 0.5rem;
}

.wishlistContainer .icon .favourite{
    color: var(--primary-color);
    text-decoration: none;
}

.wishlistContainer .wishlist-empty{
    margin-top: 5rem;
}

.wishlistContainer .wishlist-empty > h2, .wishlist-empty > p{
    display: flex;
    justify-content: center;
}