.productContainer{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.productContainer .drawer{
    width: 100%;
    padding: 1rem 0;
}

.productContainer .drawer .heading{
    margin: .5rem;
    text-align: left;
}

.productContainer .main-content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.productContainer .card{
    background-color: var(--white-section);
    padding: 0;
    width: 15rem;
    height: 16rem;
}
.productContainer .card-text{
    padding: 0 1rem;
}

.productContainer .img{
    object-fit: cover;
    height: 70%;
    border-radius: 1rem 1rem 0 0;
}