body {
  font-size: 1.5rem;  
  background-color: var(--primary-color);
}

.logoutContainer {
  margin: auto;
  margin-top: 15rem;
  padding: 2rem;
  background-color: var(--secondary-color);
  width: 25rem;
}

.logoutContainer .heading{
  margin: 1rem;
}

.logoutContainer .material-icons-outlined {
  font-size: 5rem;
  text-align: center;
  color: var(--primary-color);
}

.logoutContainer .logout .primary {
  text-decoration: none;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: .5rem;
  border-radius: 1rem;
  margin: 1rem .2rem;
}

.logoutContainer .logout .secondary {
  text-decoration: none;
  color: var(--default);
  border: 1px solid;
  padding: .5rem;
  margin: 1rem .2rem;
  border-radius: 1rem;
}